asgiref==3.9.1 ; python_full_version == "3.12.3"
attrs==25.3.0 ; python_full_version == "3.12.3"
backoff==2.2.1 ; python_full_version == "3.12.3"
cairocffi==1.7.1 ; python_full_version == "3.12.3"
cairosvg==2.8.2 ; python_full_version == "3.12.3"
certifi==2025.7.14 ; python_full_version == "3.12.3"
cffi==1.17.1 ; python_full_version == "3.12.3"
charset-normalizer==3.4.2 ; python_full_version == "3.12.3"
click==8.2.1 ; python_full_version == "3.12.3"
colorama==0.4.6 ; python_full_version == "3.12.3" and platform_system == "Windows"
cryptography==43.0.3 ; python_full_version == "3.12.3"
cssselect2==0.8.0 ; python_full_version == "3.12.3"
defusedxml==0.7.1 ; python_full_version == "3.12.3"
deprecated==1.2.18 ; python_full_version == "3.12.3"
django-cors-headers==4.5.0 ; python_full_version == "3.12.3"
django-filter==24.3 ; python_full_version == "3.12.3"
django-observability==0.1.0 ; python_full_version == "3.12.3"
django==4.2.6 ; python_full_version == "3.12.3"
djangorestframework-simplejwt==5.3.1 ; python_full_version == "3.12.3"
djangorestframework==3.15.1 ; python_full_version == "3.12.3"
drf-spectacular==0.28.0 ; python_full_version == "3.12.3"
googleapis-common-protos==1.70.0 ; python_full_version == "3.12.3"
grpcio==1.73.1 ; python_full_version == "3.12.3"
gunicorn==23.0.0 ; python_full_version == "3.12.3"
h11==0.16.0 ; python_full_version == "3.12.3"
idna==3.10 ; python_full_version == "3.12.3"
importlib-metadata==6.11.0 ; python_full_version == "3.12.3"
inflection==0.5.1 ; python_full_version == "3.12.3"
jsonschema-specifications==2025.4.1 ; python_full_version == "3.12.3"
jsonschema==4.24.0 ; python_full_version == "3.12.3"
opentelemetry-api==1.21.0 ; python_full_version == "3.12.3"
opentelemetry-exporter-jaeger-thrift==1.21.0 ; python_full_version == "3.12.3"
opentelemetry-exporter-otlp-proto-common==1.21.0 ; python_full_version == "3.12.3"
opentelemetry-exporter-otlp-proto-grpc==1.21.0 ; python_full_version == "3.12.3"
opentelemetry-exporter-zipkin-json==1.21.0 ; python_full_version == "3.12.3"
opentelemetry-exporter-zipkin-proto-http==1.21.0 ; python_full_version == "3.12.3"
opentelemetry-exporter-zipkin==1.21.0 ; python_full_version == "3.12.3"
opentelemetry-instrumentation-dbapi==0.42b0 ; python_full_version == "3.12.3"
opentelemetry-instrumentation-django==0.42b0 ; python_full_version == "3.12.3"
opentelemetry-instrumentation-psycopg2==0.42b0 ; python_full_version == "3.12.3"
opentelemetry-instrumentation-redis==0.42b0 ; python_full_version == "3.12.3"
opentelemetry-instrumentation-requests==0.42b0 ; python_full_version == "3.12.3"
opentelemetry-instrumentation-wsgi==0.42b0 ; python_full_version == "3.12.3"
opentelemetry-instrumentation==0.42b0 ; python_full_version == "3.12.3"
opentelemetry-proto==1.21.0 ; python_full_version == "3.12.3"
opentelemetry-sdk==1.21.0 ; python_full_version == "3.12.3"
opentelemetry-semantic-conventions==0.42b0 ; python_full_version == "3.12.3"
opentelemetry-util-http==0.42b0 ; python_full_version == "3.12.3"
packaging==25.0 ; python_full_version == "3.12.3"
pika==1.3.2 ; python_full_version == "3.12.3"
pillow==11.3.0 ; python_full_version == "3.12.3"
prometheus-client==0.22.1 ; python_full_version == "3.12.3"
protobuf==3.20.3 ; python_full_version == "3.12.3"
psycopg2-binary==2.9.9 ; python_full_version == "3.12.3"
pycparser==2.22 ; python_full_version == "3.12.3"
pyjwt==2.9.0 ; python_full_version == "3.12.3"
pyjwt[crypto]==2.9.0 ; python_full_version == "3.12.3"
pyopenssl==24.2.1 ; python_full_version == "3.12.3"
python-decouple==3.8 ; python_full_version == "3.12.3"
python-magic==0.4.27 ; python_full_version == "3.12.3"
pyyaml==6.0.2 ; python_full_version == "3.12.3"
redis==6.2.0 ; python_full_version == "3.12.3"
referencing==0.36.2 ; python_full_version == "3.12.3"
requests==2.32.4 ; python_full_version == "3.12.3"
rpds-py==0.26.0 ; python_full_version == "3.12.3"
setuptools==80.9.0 ; python_full_version == "3.12.3"
sqlparse==0.5.3 ; python_full_version == "3.12.3"
structlog==25.4.0 ; python_full_version == "3.12.3"
thrift==0.22.0 ; python_full_version == "3.12.3"
tinycss2==1.4.0 ; python_full_version == "3.12.3"
typing-extensions==4.14.1 ; python_full_version == "3.12.3"
tzdata==2025.2 ; sys_platform == "win32" and python_full_version == "3.12.3"
uritemplate==4.2.0 ; python_full_version == "3.12.3"
urllib3==2.5.0 ; python_full_version == "3.12.3"
uvicorn==0.30.6 ; python_full_version == "3.12.3"
webencodings==0.5.1 ; python_full_version == "3.12.3"
wrapt==1.17.2 ; python_full_version == "3.12.3"
zipp==3.23.0 ; python_full_version == "3.12.3"
